.Payments--light {
  background-color: #f9fafb;
  color: #111827;
}

.Payments--light .Payments-table-container {
  border: 1px solid #e5e7eb;
}

.Payments--light .Payments-table th {
  background-color: #f9fafb;
  color: #6b7280;
}

.Payments--light .Payments-table tbody tr {
  border-top: 1px solid #e5e7eb;
}

.Payments--light .Payments-table tbody tr:hover {
  background-color: #f3f4f6;
}
