body.dark .Home-how-it-works {
  background-color: #1f2937;
}

body.dark .Home-column-title {
  color: #f9fafb;
}

body.dark .Home-step-icon {
  color: var(--primary-color);
}

body.dark .Home-step-title {
  color: #f9fafb;
}

body.dark .Home-step-description {
  color: #d1d5db;
}
