/* Light Theme for Impact Globe */
.pakistan { color: #27AE60; } /* Green */
.usa { color: #4573df; } /* MegiLance Blue */
.uk { color: #e81123; } /* Red */
.aus { color: #ff9800; } /* Orange */
.eur { color: #9B59B6; } /* Purple */
.asia { color: #F2C94C; } /* Yellow */
