/* Dark Theme for Impact Globe */
.pakistan { color: #2ECC71; } /* Brighter Green */
.usa { color: #5dade2; } /* Lighter MegiLance Blue */
.uk { color: #e74c3c; } /* Lighter Red */
.aus { color: #f39c12; } /* Lighter Orange */
.eur { color: #AF7AC5; } /* Lighter Purple */
.asia { color: #F5D354; } /* Lighter Yellow */
