.appLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevents whole area from scrolling */
  transition: margin-left 0.3s ease-in-out;
}

.pageContent {
  flex-grow: 1;
  padding: 2rem; /* Standard padding for content areas */
  overflow-y: auto; /* Allows only the main content to scroll */
}

/* Ensure Navbar doesn't shrink */
.mainContent > header {
  flex-shrink: 0;
}
