.header {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: var(--border-light);
}

.brandName {
  color: var(--text-primary-light);
}

.navLink {
  color: var(--text-secondary-light);
}

.navLink:hover {
  color: var(--primary-light);
}

.signIn {
  background-color: var(--primary-light);
  color: white;
}

.signIn:hover {
  background-color: var(--primary-darker-light);
}

.mobileMenuButton {
  color: var(--text-primary-light);
}

.mobileNavMenu {
  background-color: white;
  border-color: var(--border-light);
}
