.header {
  background-color: rgba(18, 18, 18, 0.8);
  border-color: var(--border-dark);
}

.brandName {
  color: var(--text-primary-dark);
}

.navLink {
  color: var(--text-secondary-dark);
}

.navLink:hover {
  color: var(--primary-dark);
}

.signIn {
  background-color: var(--primary-dark);
  color: var(--text-primary-dark);
}

.signIn:hover {
  background-color: var(--primary-lighter-dark);
}

.mobileMenuButton {
  color: var(--text-primary-dark);
}

.mobileNavMenu {
  background-color: #121212;
  border-color: var(--border-dark);
}
