.policyEditorContainer {
  background-color: #1a202c;
}

.policyEditorTitle {
  color: #f7fafc;
}

.policyEditorEditor {
  background-color: #2d3748;
  border: 1px solid #4a5568;
}

.policyEditorSelect {
  background-color: #4a5568;
  border: 1px solid #718096;
  color: #e2e8f0;
}

.policyEditorTextarea {
  background-color: #1a202c;
  border: 1px solid #718096;
  color: #e2e8f0;
}

.saveConfirmation {
  color: #9ae6b4;
}
