.fraudAlertBanner {
  background-color: #3e341a;
  border: 1px solid #8d6e3a;
}

.fraudAlertBannerIcon {
  color: #ffc53d;
}

.fraudAlertBannerContent strong {
  color: #ffc53d;
}

.fraudAlertBannerContent p {
  color: #e6dcb9;
}
