.fraudAlertBanner {
  background-color: #fffbe6; /* A light yellow */
  border: 1px solid #ffe58f; /* A stronger yellow */
}

.fraudAlertBannerIcon {
  color: #faad14; /* Amber */
}

.fraudAlertBannerContent strong {
  color: #d46b08;
}

.fraudAlertBannerContent p {
  color: #874d00;
}
