.container {
  --table-bg: #ffffff;
  --table-border-color: #e2e8f0;
  --table-title-color: #1a202c;
  --input-bg: #ffffff;
  --input-border-color: #cbd5e0;
  --input-text-color: #2d3748;
  --table-header-color: #718096;
  --table-header-border-color: #e2e8f0;
  --table-cell-text-color: #4a5568;
  --table-row-border-color: #e2e8f0;
  --accent-color: #4573df;
  --accent-color-faded: rgba(69, 115, 223, 0.2);
}

.table tbody tr:hover {
  background-color: #f7fafc;
}
