.Projects--dark {
  background-color: #111827;
  color: #f9fafb;
}

.Projects--dark .Projects-table-container {
  border: 1px solid #374151;
}

.Projects--dark .Projects-table th {
  background-color: #1f2937;
  color: #9ca3af;
}

.Projects--dark .Projects-table tbody tr {
  border-top: 1px solid #374151;
}

.Projects--dark .Projects-table tbody tr:hover {
  background-color: #2b3748;
}

.Projects--dark .status-badge--In-Progress {
  background-color: #1e3a8a; /* Blue 900 */
  color: #bfdbfe; /* Blue 200 */
}

.Projects--dark .status-badge--Completed {
  background-color: #14532d; /* Green 900 */
  color: #bbf7d0; /* Green 200 */
}

.Projects--dark .status-badge--Open-for-Proposals {
  background-color: #312e81; /* Indigo 900 */
  color: #c7d2fe; /* Indigo 200 */
}

.Projects--dark .status-badge--Dispute {
  background-color: #713f12; /* Yellow 900 */
  color: #fef08a; /* Yellow 200 */
}

.Projects--dark .Projects-table tr.flagged {
  background-color: #450a0a; /* Red 950 */
}

.Projects--dark .Projects-table tr.flagged:hover {
  background-color: #5b2121; /* Red 900 */
}
