.Projects--light {
  background-color: #f9fafb;
  color: #111827;
}

.Projects--light .Projects-table-container {
  border: 1px solid #e5e7eb;
}

.Projects--light .Projects-table th {
  background-color: #f9fafb;
  color: #6b7280;
}

.Projects--light .Projects-table tbody tr {
  border-top: 1px solid #e5e7eb;
}

.Projects--light .Projects-table tbody tr:hover {
  background-color: #f3f4f6;
}

.Projects--light .Projects-table tr.flagged {
  background-color: #fef2f2; /* Red 50 */
}

.Projects--light .Projects-table tr.flagged:hover {
  background-color: #fee2e2; /* Red 100 */
}
