.wallet {
  padding: 2rem 3rem;
}

.walletContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.walletHeader {
  margin-bottom: 2.5rem;
}

.walletHeader h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

.walletHeader p {
  font-size: 1.125rem;
}

.walletMainLayout {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 3rem;
}

.walletBalanceSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.walletBalanceCard {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}

.walletBalanceCard h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.walletBalanceAmount {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.paymentMethodsCard {
  padding: 1.5rem;
  border-radius: 12px;
}

.paymentMethodsCard h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.paymentMethod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.paymentMethod:not(:last-of-type) {
  border-bottom: 1px solid;
}

.paymentMethodsCard .button {
  margin-top: 1rem;
  width: 100%;
}

.walletTransactions h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.transactionListHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.transactionList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
