.container {
  position: fixed;
  bottom: 1.5rem; /* 24px */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* 16px */
  z-index: 2147483647; /* Maximum z-index to ensure it's above Next.js Dev Tools */
}

.right { right: 1.5rem; }
.left { left: 1.5rem; }
